{% extends 'layout.html' %}

{% block article %}

<h1 class="center">Sobre</h1>

<p>
    Olá, sou Vitor Irapuã, um jovem entusiasta e criativo de 17 anos, apaixonado por programação. Desde
    cedo, desenvolvi uma grande curiosidade e interesse em Python, html e css.
</p>

<p>
    Minha jornada começou com [uma breve descrição de como você começou, como um projeto escolar, um
    hobby, ou uma experiência pessoal]. Desde então, tenho me dedicado a aprimorar minhas habilidades e
    expandir meu conhecimento, sempre buscando novas oportunidades para aprender e crescer.
</p>

<p>
    No meu portfólio, você encontrará uma seleção de projetos que representam o melhor do meu trabalho.
    Cada projeto é um reflexo do meu compromisso com a qualidade e a inovação, e estou sempre em busca
    de desafios que me permitam explorar novas ideias e técnicas.
</p>

<p>
    Além do meu trabalho, também valorizo trabalho em equipe, comunicação. Acredito que essas qualidades
    são fundamentais para alcançar resultados excepcionais e para colaborar efetivamente com outros
    profissionais.
</p>

<p>
    Estou aberto a novas oportunidades e colaborações que possam me ajudar a crescer ainda mais. Se você
    tiver um projeto interessante ou quiser saber mais sobre o meu trabalho, não hesite em entrar em
    contato.
</p>

<p>
    Obrigado por visitar meu portfólio e por seu interesse no meu trabalho!
</p>

<p>
    Atenciosamente,<br>
    Vitor Irapuã
</p>

{% endblock %}

{% block aside %}

<p>
    Obrigado por visitar meu portfólio e por seu interesse no meu trabalho!
</p>

<p>
    Atenciosamente, <br>
    Vitor Irapuã
</p>

{% endblock %}