{% extends 'layout.html' %}

{% block article %}

<h2 class="center">Seja bem vindo!!!</h2>
<p>
    Olá! Meu nome é Vitor Irapuã, tenho 17 anos e sou apaixonado por Programação. Desde cedo, tenho me
    dedicado a explorar e aprimorar minhas
    habilidades nessa área, buscando sempre maneiras inovadoras e criativas de expressar minhas ideias e
    realizar projetos.
</p>
<p>
    Ao longo da minha trajetória, tive a oportunidade de trabalhar em diversos projetos que me
    permitiram desenvolver uma compreensão mais profunda e prática do que faço. Cada projeto que você
    encontrará neste portfólio reflete meu entusiasmo e compromisso com a qualidade e a originalidade.
</p>
<p>
    Sou um aprendiz ávido e estou sempre em busca de novos desafios e oportunidades para crescer e
    evoluir.
    Acredito que o aprendizado constante e a experimentação são essenciais para o desenvolvimento
    pessoal e
    profissional. Estou animado para compartilhar com você algumas das minhas criações e estou aberto a
    feedbacks e colaborações que possam surgir.
</p>
<p>
    Obrigado por visitar meu portfólio. Espero que você goste do que vê e fique à vontade para entrar em
    contato para qualquer dúvida ou para conversarmos sobre futuras oportunidades.
</p>

{% endblock %}

{% block aside %}

<div class="imagens-main"> <img src="/static/img/logos.png" alt="Imagem das logos de html, css e js"> <img
    src="/static/img/py.svg" alt="Imagem Python">
</div>
{% endblock %}