{% extends 'layout.html' %}

{% block article %}

<h1>Política de Privacidade</h1>

<h2>1. Introdução</h2>
<p>
    Bem-vindo ao meu portfólio! A sua privacidade é importante para mim. Esta Política de Privacidade explica como eu, Vitor Irapuã, coleta, usa, armazena e protege suas informações quando você visita e interage com meu site.
</p>

<h2>2. Informações que Coletamos</h2>
<h3>2.1. Informações Pessoais</h3>
<p>
    Não coleto informações pessoais identificáveis, como nome, e-mail ou número de telefone, a menos que você as forneça voluntariamente ao preencher formulários de contato ou se inscrever em newsletters.
</p>

<h3>2.2. Informações de Navegação</h3>
<p>
    Podemos coletar informações sobre sua visita ao site, como o endereço IP, o navegador usado, as páginas visitadas e a data e hora da visita. Essas informações são usadas para analisar tendências e melhorar a experiência do usuário.
</p>

<h2>3. Como Usamos as Informações</h2>
<h3>3.1. Informações Pessoais</h3>
<p>
    As informações pessoais que você fornece são usadas para:
</p>
<ul>
    <li>Responder a perguntas e solicitações enviadas por meio de formulários de contato.</li>
    <li>Enviar atualizações ou newsletters, se você optar por recebê-las.</li>
</ul>

<h3>3.2. Informações de Navegação</h3>
<p>
    As informações de navegação são usadas para:
</p>
<ul>
    <li>Melhorar o desempenho e a funcionalidade do site.</li>
    <li>Analisar o uso do site para melhorar a experiência do usuário.</li>
</ul>

<h2>4. Compartilhamento de Informações</h2>
<p>
    Não vendemos, trocamos ou alugamos suas informações pessoais a terceiros. Podemos compartilhar suas informações com prestadores de serviços que auxiliam na operação do site, desde que eles concordem em manter essas informações confidenciais e usadas exclusivamente para os fins para os quais foram fornecidas.
</p>

<h2>5. Cookies e Tecnologias Similares</h2>
<h3>5.1. Cookies</h3>
<p>
    Meu site pode usar cookies para melhorar a experiência do usuário. Cookies são pequenos arquivos de dados armazenados no seu dispositivo. Você pode optar por desativar os cookies através das configurações do seu navegador, mas isso pode afetar a funcionalidade do site.
</p>

<h3>5.2. Tecnologias Similares</h3>
<p>
    Podemos usar tecnologias semelhantes a cookies, como pixels de rastreamento, para coletar informações sobre como você usa o site e para personalizar sua experiência.
</p>

<h2>6. Segurança</h2>
<p>
    Adoto medidas de segurança apropriadas para proteger suas informações pessoais contra acesso não autorizado, alteração, divulgação ou destruição. No entanto, lembre-se de que nenhum método de transmissão pela internet ou armazenamento eletrônico é 100% seguro.
</p>

<h2>7. Links para Outros Sites</h2>
<p>
    Meu portfólio pode conter links para sites de terceiros. Não sou responsável pelas práticas de privacidade ou pelo conteúdo desses sites. Recomendo que você leia as políticas de privacidade de qualquer site que visitar.
</p>

<h2>8. Alterações nesta Política</h2>
<p>
    Esta Política de Privacidade pode ser atualizada periodicamente. Qualquer alteração será publicada nesta página, e a data da última revisão será ajustada. É aconselhável revisar esta política regularmente para estar ciente de quaisquer mudanças.
</p>

<h2>9. Contato</h2>
<p>
    Se você tiver alguma dúvida ou preocupação sobre esta Política de Privacidade ou sobre o tratamento das suas informações, entre em contato comigo através do vt.contato@gmail.com.
</p>


{% endblock %}

{% block aside %}

<p>Última atualização: 12/09/2024</p>

{% endblock %}